body{
    color: aquamarine;
    text-align: center;
    font-family: "Arial";
    margin-inline: 2px;
    
}
header{
    color: orange;
    box-shadow: 0px 2px 20px 0px rebeccapurple;
    margin: 0;
    padding: 0.5cm;
    
    background-color: darkgoldenrod;
}

h2 {
    text-decoration: solid;
    text-align: left;
    margin-left: 3cm;
    color: bisque;
    
}
